@model Entities.DTOs.UserForUpdateDto
@{
    Layout = null;
}

<h2>Profil Güncelle</h2>

@using (Html.BeginForm("Index", "Profile", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}
<br />