@model List<ProjectUI.Models.ApiMovieViewModel>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>
    <form asp-controller="Movie" asp-action="Index" method="get">
        <label for="title">Movie Title:</label>
        <input type="text" name="title" id="title" />
        <label for="year">Year:</label>
        <input type="text" name="year" id="year" />
        <button type="submit">Search</button>
    </form>

    <hr />

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Type</th>
                <th>ImdbId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Type</td>
                    <td>@movie.ImdbId</td>
                    @*<td><a class="btn btn-update" href="/Movie/Add?imdbId=@movie.ImdbId">Add Watch List</a></td>*@
                    @*@Html.ActionLink("Add Movie", "Add", new { id = movie.ImdbId }, new { @class = "btn btn-primary" })*@
                    <td><a href="javascript:void(0)" class="btn btn-sm btn-primary" onclick="addMovie('@movie.ImdbId','@movie.Title','@movie.Year','@movie.Type')">Add to Watchlist</a></td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/movieScript.js"></script>


</body>
</html>
